@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(65, 63, 63);
}

a,
.btn {
  transition: all 250ms ease;
}

nav,
.navbar-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  border: 2.5px solid rgba(191, 234, 253, 0.856);
  background-color: rgb(230, 247, 255);
}

.navbar-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: aliceblue;
}

a:hover {
  color: rgb(150, 220, 253);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(150, 220, 253);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

logo:hover {
  cursor: default;
}

/* Section */

section {
  padding-top: 4vh;
  height: 58vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section-foto {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  font-size: 2rem;
  text-align: center;
}

.section-text-p2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sub-title {
  color: rgb(150, 220, 253);
}

.title {
  color: rgb(61, 188, 247);
  font-size: 3rem;
  text-align: center;
}

/* icon */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* Container */

.details-container {
  padding: 1.5 rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(89, 156, 187);
}
/* Experience */

#experience {
  display: flex;
}

.experience .sub-title {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience .details-container {
  display: flex;
  justify-content: center;
  flex-direction: 2rem;
}

.details-container {
  border: 2px solid rgb(54, 119, 145);
  padding: 24px;
  margin: 18px;
}

.article-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

article {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.article {
  margin-top: 18px;
}

article .icon {
  cursor: default;
}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-top {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 2px solid rgb(89, 156, 187);
  background: white;
  margin: 2rem auto;
  width: 80%;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}
